=link_to "#{@list.name}", lists_path(@list), class: 'btn'

%br
%br
=render partial: 'shared/users_select', locals:{ path: list_add_multiple_users_path(@list), userlist: @nousers, submitname: 'Add subscribers' }

