%h2= "Dashboard #{@current_user.full_name}" 

%h4 Mailing list subscriptions:
- if @current_user.lists.count > 0
  %ul
    - @current_user.lists.each do |list|
      %li= link_to list.name, list_path(list)
- else
  None.

=render partial: "shared/beta_list", locals: { show_actions: true, betas: @active_betas, title: 'Active' }
=render partial: "shared/beta_list", locals: { show_actions: false,  betas: @planned_betas, title: 'Planned' }
=render partial: "shared/beta_list", locals: { show_actions: true, betas: @available_betas, title: 'Available' }
=render partial: "shared/beta_list", locals: { show_actions: false, betas: @finished_betas, title: 'Finished' }
