=provide(:title, 'Home')

.center.hero-unit
  %h1 Betaman
  %p Beta Program Management tool

.btn
  =link_to "Beta page in Immerweg", "https://wiki.innerweb.novell.com/index.php/SUSE_Beta_Test_Programs"