%h4 Updated internal download lists:

- @betas_with_downloads.each do |b|
  %h5= link_to b[:beta].name, beta_path(b[:beta])
  %table
    %tr
      %td.right Participations:
      %td= b[:beta].participations.count
    %tr
      %td.right Downloads added:
      - if b[:added].count == 0
        %td -
      - else
        %td
          %table
            - b[:added].each do |u|
              %tr
                %td= link_to u.logname, user_path(u)

    %tr
      %td.right Downloads dropped:
      - if b[:dropped].count == 0
        %td -
      - else
        %td
          %table
            - b[:dropped].each do |u|
              %tr
                %td= link_to u.logname, user_path(u)

%br
%br
%p
  =link_to "Back to admin dashboard", admin_path, class: 'btn'
