%h4 Updated internal mailing lists:

%ul
- @betas_with_lists.each do |b|
  %li
    = link_to b[:beta].name, beta_path(b[:beta])
    - if b[:added].count > 0
      %p 
        Added:
        %ul
          - b[:added].each do |u|
            %li= link_to( u.logname, user_path(u))
    - if b[:dropped].count > 0
      %br
        %b Dropped:
        %ul
          - b[:dropped].each do |u|
            %li= link_to( u.logname, user_path(u))
    - if b[:created].count > 0
      %br
        %b Created:
        %ul
          - b[:created].each do |u|
            %li= link_to( u.logname, user_path(u))
%br
%br
%p
  =link_to "Back to admin dashboard", admin_path, class: 'btn'
