%h2 Update downloads

- @betas.each do |beta|
  %h4= beta.name

  %ul
    -@users_added[beta.id].each do |u|
      %li= link_to "Added: #{u.id} - #{u.email}", edit_user_path(u)

%br
%br
%p
  =link_to "Back to admin dashboard", admin_path, class: 'btn'
