%h4 Log in:

%p
  = link_to '/auth/open_id' do
    =image_tag('/images/openid_64.png') + "OpenID"
-#%br
-#= link_to image_tag('/images/google_64.png') + "Google", '/auth/google'

%br
%br

%h4 Notes:
%ul
  %li You can use any openID provider, e.g.
  %ul
    %li 
      Google: Find your URL after logging into your Google+ account. Then goto your 
      =link_to('account/privacy settings', 'https://www.google.com/settings/privacy')
      The URL looks like https://plus.google.com/{RANDOM_NUMBER}, where
      the random number is specific to your profile.
    %li 
      Novell: The URL is https://secure-www.novell.com/openid/user/{USERNAME}
  %li You can also use your Bugzilla name, the URL is the same as above:
  %p
    https://secure-www.novell.com/openid/user/BUGZILLANAME
  %li After login you can edit your user profile


