%h4 Log in:

%p
  = link_to '/auth/open_id' do
    =image_tag('/images/openid_64.png') + "OpenID"
-#%br
-#= link_to image_tag('/images/google_64.png') + "Google", '/auth/google'

%br
%br

%h4 Notes:
%ul
  %li
    Betaman will show more detailed information after you have logged in.

  %li 
    For login, you currently need an openID. You can use any openID provider, e.g.
    %ul
      %li 
        %b Novell: 
        The URL is 
        %tt https://secure-www.novell.com/openid/user/{USERNAME}
        The USERNAME can also be your BUGZILLANAME
      %li 
        %b Google: 
        Find your URL after logging into your Google+ account. Then goto your 
        =link_to('account/privacy settings', 'https://www.google.com/settings/privacy')
        The URL looks 
        %tt like https://plus.google.com/{RANDOM_NUMBER} 
        where the random number is specific to your profile.

  %li 
    For questions please contact
    = mail_to 'uwedr@suse.com'

