.row
  .span12.sticky
    %span.scratch
    .paper
      %h2 Log In

      %p

      = link_to(image_tag('/images/openid_64.png') + "OpenID", '/auth/open_id')
      -#%br
      -#= link_to image_tag('/images/google_64.png') + "Google", '/auth/google'
