%h4 Sign in using

%table
  %tr
    %td= link_to image_tag('/images/suse_64.png', :border => 0), '/auth/novell'

    %td
      = link_to '/auth/google' do
        =image_tag('/images/google_64.png')

    %td
      = link_to '/auth/open_id' do
        =image_tag('/images/openid_64.png') 

%br
%br

%h4 Notes:
%ul
  %li
    Betaman will show more detailed information after you have logged in.

  %li 
    For questions please contact
    = mail_to 'uwedr@suse.com'

