%h3="Beta tests of: #{@user.full_name}"

=render partial: "shared/beta_list", locals:{ type: 'available' }
=render partial: "shared/beta_list", locals:{ type: 'planned' }
=render partial: "shared/beta_list", locals:{ type: 'active' }
=render partial: "shared/beta_list", locals:{ type: 'finished' }
