=link_to "Company: #{@company.name}", company_path(@company), class: 'btn'

%table
  %tr
    %td.right.bold.top
      Name:
    %td
      = @company.name 
  %tr
    %td.right.bold.top
      Users:
    %td
      %table
        - @company.users.each  do |u|
          %tr
            %td= link_to( u.full_name, edit_user_path(u) )
            %td (#{ mail_to u.email})

