.row
  .span12.sticky
    %span.scratch
    .paper
      %h2 Log In

      %p
        Please use one of the following providers to login:

      = link_to(image_tag('/images/openid_64.png') + "OpenID", '/auth/open_id')
      %br
      = link_to image_tag('/images/google_64.png') + "Google", '/auth/google'
