%header.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      = link_to "Betaman", '#', id: "logo" 
      %nav
      %ul.nav.pull-right
        %li= link_to "Home",    '#'
        %li= link_to "Help",    help_path
        %li= link_to "Login", '#' 

