=link_to "#{@beta.name}", beta_path(@beta), class: 'btn'

%br
%br
=render partial: 'shared/users_select', locals:{ path: beta_add_multiple_users_path(@beta), userlist: @nousers, submitname: 'Add participants' }

