=render partial: "shared/beta_list", locals:{ type: 'planned' }
=render partial: "shared/beta_list", locals:{ type: 'active' }
=render partial: "shared/beta_list", locals:{ type: 'finished' }

%br

- if @current_user.admin?
  = link_to(new_beta_path) do
    %i{class: ["icon-plus", " icon-large"]}
    Add new beta test
